<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{home/layout}">

<head>
    <meta charset="utf-8">
    <title>[[${gdl.tenGoi}]]</title>
</head>

<body>
<div layout:fragment="content">

    <!-- Blog Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">

                <th:block th:each="g : ${gdl}">
                <div class="col-lg-8">
                    <!--                    -->
                    <!-- Blog Detail Start -->
                    <div class="pb-3">
                        <div class="blog-item">
                            <div class="position-relative">
                                <img class="img-fluid w-100" th:src="@{'/img/' + ${g.anh}}" alt="">
                                <div class="blog-date">
                                    <h6 class="font-weight-bold mb-n1">01</h6>
                                    <small class="text-white text-uppercase">Jan</small>
                                </div>
                            </div>
                        </div>
                        <div class="bg-white mb-3" style="padding: 30px;">
                            <div class="d-flex mb-3">
                                <a class="text-primary text-uppercase text-decoration-none" href="/trang-chu">Home</a>
                                <span class="text-primary px-2">|</span>
                                <a class="text-primary text-uppercase text-decoration-none" href="/tourpackage">Package</a>
                                <span class="text-primary px-2">|</span>
                                <a class="text-primary text-uppercase text-decoration-none" href="/chitiet/">[[${gdl.tenGoi}]]</a>
                            </div>
                            <h2 class="mb-3" th:text="${g.tenGoi}"></h2>

                            <p>
                                [[${g.moTa}]]
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mt-5 mt-lg-0">
                    <!-- Author Bio -->
                    <div class="d-flex flex-column bg-white mb-5 py-5 px-4 " >
                        <p>Thời gian: 2 Ngày 2 Đêm</p>
                        <p>Ngày khởi hành: [[${#dates.format(g.ngayThucHien, 'dd/MM/yyyy')}]]</p>
                        <p>Chuyến bay: Bay khứ hồi.</p>
                        <p>Đánh giá: ⭐⭐⭐⭐⭐ (5 sao)</p>
                        <p>Số chỗ còn: 10</p>
                        <p>Điểm khởi hành: [[${g.diemKhoiHanh}]]</p>
                        <p>Mã tour: KDL- [[${g.packageId}]][[${#dates.format(g.ngayThucHien, 'ddMMyyyy')}]]</p>
                        <p>Loại Tour: Tour khách VIP</p>
                        <p> </p>
                        <div class="row">


                                <p>&emsp;&nbsp;[[${#numbers.formatDecimal(g.giaGoi, 0, 'COMMA', 0, 'POINT')}]] đồng &nbsp;&emsp;&emsp;&nbsp;&nbsp;
                                    <a th:href="@{'/gddt/' + ${gdl.packageId}}" class="btn btn-primary">Đặt Tour</a>
                                </p>

                        </div>
                    </div>
                </div>
                </th:block>
            </div>

        </div>

    </div>

</div>
</body>

</html>