<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{home/layout}">
<head>
    <meta charset="UTF-8">
    <title>Nhập thông tin đặt tour</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>

</head>
<body>

<div layout:fragment="content">


    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;"></h6>
                <h1></h1>
            </div>


            <div class="container-fluid py-5">
                <div class="container py-5">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tile" style="height: 200px">
                                <div class="container-fluid booking mt-5 pb-5">
                                    <div class="container pb-5">
                                        <div class="bg-light shadow" style="padding: 30px;">
                                            <div>
                                                <div>

                                                    <form action="#" method="post"
                                                          th:action="@{/gddt/themMoiBooking}"
                                                          th:object="${booking}" enctype="multipart/form-data">
                                                        <fieldset>
                                                            <legend style="text-align: center">NHẬP THÔNG TIN ĐẶT TOUR
                                                            </legend>
                                                            <div class="container-fluid">
                                                                <div class="row">
                                                                    <label class="col-md-2">
                                                                        Gói Tour:
                                                                    </label>

                                                                    <div class="col-md-10">
                                                                        <h3>[[${gdl.tenGoi}]]</h3>
                                                                        <input type="hidden" th:value="${gdl.packageId}"
                                                                               name="packageID"/>
                                                                    </div>

                                                                </div>


                                                                <div class="row">
                                                                    <label class="col-md-2">
                                                                        Họ tên (*):
                                                                    </label>
                                                                    <div class="col-md-4">
                                                                        <input type="text" class="form-control"
                                                                               th:field="*{hoTen}" required="required" data-validation-required-message="Vui lòng nhập họ tên khách hàng "/>

                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <label class="col-md-2">
                                                                        Ngày sinh (*):
                                                                    </label>
                                                                    <div class="col-md-4">
                                                                        <input style="font-size: 15px" type="text"
                                                                               id="datepicker1"
                                                                               class="form-control"
                                                                               th:field="*{ngaySinh}"
                                                                               placeholder="dd/MM/yyyy"/>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <label class="col-md-2">
                                                                        Email (*):
                                                                    </label>
                                                                    <div class="col-md-4">
                                                                        <input type="text" class="form-control"
                                                                               th:field="*{email}"/>

                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <label class="col-md-2">
                                                                        Địa chỉ (*):
                                                                    </label>
                                                                    <div class="col-md-10">
                                                                        <input type="text" class="form-control"
                                                                               th:field="*{diaChi}" required="required" data-validation-required-message="Vui lòng nhập địa chỉ "/>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <label class="col-md-2">
                                                                        Ngày đặt phòng:
                                                                    </label>
                                                                    <div class="col-md-4">
                                                                        <input style="font-size: 15px" type="text"
                                                                               id="datepicker2" class="form-control"
                                                                               th:field="*{ngayDatPhong}"
                                                                               placeholder="dd/MM/yyyy"/>


                                                                    </div>

                                                                    <label class="col-md-2">
                                                                        Ngày du lịch:
                                                                    </label>
                                                                    <div class="col-md-4">
                                                                        <input style="font-size: 15px" type="text"
                                                                               id="datepicker" class="form-control"
                                                                               th:field="*{ngayDuLich}"
                                                                               placeholder="dd/MM/yyyy"/>

                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <label class="col-md-2">
                                                                        Tổng chi phí:
                                                                    </label>
                                                                    <div class="col-md-10">

                                                                        <h4>[[${#numbers.formatDecimal(gdl.giaGoi, 0,
                                                                            'COMMA', 0, 'POINT')}]] đồng</h4>
                                                                        <input type="hidden" th:value="${gdl.giaGoi}"
                                                                               name=""/>

                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <label class="col-md-8" style="text-align: center">
                                                                        THÊM THÔNG TIN NGƯỜI ĐI CÙNG :

                                                                    </label>

                                                                    <div class="col-md-4">
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="tile">
                                                                            <div class="tile-body">

                                                                                <div style="text-align: right; width:100%;">
                                                                                </div>
                                                                                <table class="table table-striped table-bordered"
                                                                                       id="sampleTable">
                                                                                    <thead>
                                                                                    <tr>
                                                                                        <th>Họ tên</th>
                                                                                        <th>Tuổi</th>
                                                                                        <th>Ghi Chú</th>

                                                                                    </tr>
                                                                                    </thead>
                                                                                    <tbody  th:name="bookingdetails" >

                                                                                    <tr>

                                                                                        <td><input type="text"
                                                                                                   name="tenKhachDuLich1"
                                                                                                   class="form-control"
                                                                                                   ></td>

                                                                                        <td><input type="number"
                                                                                                   name="tuoi1"
                                                                                                   class="form-control"
                                                                                                   value="0"
                                                                                                   ></td>

                                                                                        <td><input type="text"
                                                                                                   name="yeuCauDacBiet1"
                                                                                                   class="form-control"
                                                                                                   ></td>

                                                                                    </tr>
                                                                                    <tr>

                                                                                        <td><input type="text"
                                                                                                   name="tenKhachDuLich2"
                                                                                                   class="form-control"
                                                                                                   ></td>

                                                                                        <td><input type="number"
                                                                                                   name="tuoi2"
                                                                                                   class="form-control"
                                                                                                   value="0"
                                                                                                   ></td>

                                                                                        <td><input type="text"
                                                                                                   name="yeuCauDacBiet2"
                                                                                                   class="form-control"
                                                                                                   ></td>

                                                                                    </tr>
                                                                                    <tr>

                                                                                        <td><input type="text"
                                                                                                   name="tenKhachDuLich3"
                                                                                                   class="form-control"
                                                                                                   ></td>

                                                                                        <td><input type="number"
                                                                                                   name="tuoi3"
                                                                                                   class="form-control"
                                                                                                   value="0"
                                                                                                   ></td>

                                                                                        <td><input type="text"
                                                                                                   name="yeuCauDacBiet3"
                                                                                                   class="form-control"
                                                                                                   ></td>

                                                                                    </tr>
                                                                                    <tr>

                                                                                        <td><input type="text"
                                                                                                   name="tenKhachDuLich4"
                                                                                                   class="form-control"
                                                                                                   ></td>

                                                                                        <td><input type="number"
                                                                                                   name="tuoi4"
                                                                                                   class="form-control"
                                                                                                   value="0"
                                                                                                   ></td>

                                                                                        <td><input type="text"
                                                                                                   name="yeuCauDacBiet4"
                                                                                                   class="form-control"
                                                                                                   ></td>

                                                                                    </tr>
                                                                                    </tbody>

                                                                                </table>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <input type="submit" class="btn btn-primary"
                                                                               name="btnCapNhat" value="Xác nhận"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;"></h6>

            </div>
        </div>
    </div>

    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;"></h6>

            </div>
        </div>
    </div>
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;"></h6>

            </div>
        </div>
    </div>


    <div>
    </div>
</div>

</body>
</html>