<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/home/layout}">
<head>
    <meta charset="UTF-8">
    <title>Thêm mới hoặc sửa điểm đến</title>
    <style>
        .row
        {
            padding-bottom: 5px;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="app-title">
        <div>
            <h1><i class="fa fa-th-list"></i> Quản lý BookingDetails</h1>
            <p>Danh sách thông tin BookingDetails trong hệ thống</p>
        </div>
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item active"><a href="#">Data Table</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tile">
                                <div class="tile-body">
                                    <form action="#" method="post" th:action="@{/admin/bookingdetails/themMoibookingdetails}" th:object="${bookingdetails}">
                                        <fieldset>
                                            <legend>Nhập thông tin BookingDetails</legend>
                                            <div class="container-fluid">

                                                <div class="row">
                                                    <label class="col-md-2">
                                                        BookingId:
                                                    </label>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" th:field="*{bookingId}"/>
                                                        <input type="hidden" th:field="*{bookingDetailsId}" class="form-control" th:value="${bookingdetails.bookingDetailsId}"/>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <label class="col-md-2">
                                                        Họ tên:
                                                    </label>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" th:field="*{tenKhachDuLich}"/>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <label class="col-md-2">
                                                        Tuou:
                                                    </label>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" th:field="*{tuoi}"/>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <label class="col-md-2">
                                                        Ghi chu:
                                                    </label>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" th:field="*{yeuCauDacBiet}"/>

                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-4">
                                                        <input type="submit" class="btn btn-primary" name="btnCapNhat" value="Cập nhật"/>
                                                        &nbsp;
                                                        <a th:href="@{/admin/bookingdetails}" class="btn btn-primary">Trở về</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>