<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>about</title>
</head>
<body>
<div th:fragment="about">
    <div class="container-fluid py-5">
        <div class="container pt-5">
            <div class="row">
                <div class="col-lg-6" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="img/about.jpg" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 pt-5 pb-lg-5">
                    <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                        <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Giới thiệu về chúng tôi</h6>
                        <h1 class="mb-3">Chúng tôi cung cấp các gói tour du lịch tốt nhất trong ngân sách của bạn</h1>
                        <p> - Là nơi để chọn lựa khu du lịch tốt nhât trên thế giới.</p>
                        <p> - Là nơi để bạn tin tưởng chọn lựa khi dùng dịch vụ của chúng tôi.</p>
                        <p> - Là nơi có nhiều sự kiện giảm giá hàng tháng cho khác hàng chọn lựa dịch vụ của chúng tôi.</p>
                        <p> - Còn chần chừ gì nữa mà không ấn nút "ĐẶT NGAY" bên dưới để nhận ưu đãi hấp dẫn.</p>
                        <div class="row mb-4">
                            <div class="col-6">
                                <img class="img-fluid" src="img/about-1.jpg" alt="">
                            </div>
                            <div class="col-6">
                                <img class="img-fluid" src="img/about-2.jpg" alt="">
                            </div>
                        </div>
                        <a href="tourpackage" class="btn btn-primary mt-1">Đặt Ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>