<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>destination</title>
</head>
<body>
<div th:fragment="destination">
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 20px;">Điểm đến</h6>
                <h1>Điểm đến hàng đầu</h1>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="img/lang-bac-nam-2024.jpg" alt="">
                        <a class="destination-overlay text-white text-decoration-none" href="/tourpackage">
                            <h5 class="text-white">Miền Bắc</h5>
                            <span>hơn 100 điểm du lịch </span>
                        </a>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="img/kinhdohue.jpg" alt="">
                        <a class="destination-overlay text-white text-decoration-none" href="/tourpackage">
                            <h5 class="text-white">Miền Trung</h5>
                            <span>hơn 100 điểm du lịch </span>
                        </a>
                    </div>

                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="img/vungtau.jpg" alt="">
                        <a class="destination-overlay text-white text-decoration-none" href="/tourpackage">
                            <h5 class="text-white">Miền Nam</h5>
                            <span>hơn 100 điểm du lịch </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>