<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>navbar</title>
</head>
<body>
<!-- Navbar Start -->
<div th:fragment="navbar">
<div class="container-fluid position-relative nav-bar p-0">
    <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
        <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
            <a href="/trang-chu" class="navbar-brand">
                <h1 class="m-0 text-primary"><span >DU LỊCH</span></h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                <div class="navbar-nav ml-auto py-0">
                    <a href="/trang-chu" class="nav-item nav-link active">Trang chủ</a>
                    <a href="/about" class="nav-item nav-link">Giới thiệu</a>
                    <a href="/service" class="nav-item nav-link">Dịch vụ</a>
                    <a href="/tourpackage" class="nav-item nav-link">Gói du lịch</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Xem Thêm</a>
                        <div class="dropdown-menu border-0 rounded-0 m-0">
                            <a href="/blog" class="dropdown-item">Blog Grid</a>
                            <a href="testimonial.html" class="dropdown-item">Phản hồi</a>
                            <a href="/registration" class="dropdown-item">Đăng nhập</a>

                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
</div>
<!-- Navbar End -->
</body>
</html>