<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Các gói du lịch</title>

    .fixed-size-img {
    width: 850px;
    height: 640px;
    object-fit: cover;
    }

</head>
<body>
<div th:fragment="packages">
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Gói du lịch</h6>
                <h1>Tour Du lịch</h1>
            </div>

            <div class="row">

                <th:block th:each="g : ${lstGDL}">
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="package-item bg-white mb-2">
                            <img class="img-fluid" th:src="@{'/img/' + ${g.anh}}" alt="img">
                            <div class="p-4">
                                <div class="d-flex justify-content-between mb-3">
                                    <small class="m-0"><i class="fa fa-map-marker-alt text-primary mr-2" th:text="${g.packageId}"></i></small>
                                    <small class="m-0"><i class="fa fa-calendar-alt text-primary mr-2"></i>5 days</small>
                                    <small class="m-0"><i class="fa fa-user text-primary mr-2"></i>Many Person</small>
                                </div>
                                <a class="h5 text-decoration-none" th:text="${g.tenGoi}"
                                   th:href="@{'/chitiet/' + ${g.packageId}}"></a>
                                <div class="border-top mt-4 pt-4">
                                    <div class="d-flex justify-content-between">
                                        <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                        <h5 class="m-0"
                                            th:text="${#numbers.formatDecimal(g.giaGoi, 0, 'POINT', 0, 'COMMA') + 'đ'}"
                                            th:data-raw="${g.giaGoi}" th:data-sort="${g.giaGoi}">đ</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </th:block>
            </div>
        </div>
    </div>

</div>
</body>
</html>