<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Service</title>
</head>
<body>
<div th:fragment="service">
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Dịch vụ</h6>
                <h1>Gói du lịch & Dịch vụ</h1>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <i class="fa fa-2x fa-route mx-auto mb-4"></i>
                        <h5 class="mb-2">Hướng dẫn du lịch</h5>
                        <p class="m-0">Hướng dẫn tận tình , tận tâm và chu đáo.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4" >
                    <div class="service-item bg-white text-center mb-2 py-5 px-4" >
                        <i class="fa fa-2x fa-ticket-alt mx-auto mb-4" ></i>
                        <h5 class="mb-2"  >Đặt vé</h5>
                        <p class="m-0">Dễ dàng , nhanh chóng,giá vé phù hợp với bạn.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <i class="fa fa-2x fa-hotel mx-auto mb-4"></i>
                        <h5 class="mb-2">Đặt phòng khách sạn</h5>
                        <p class="m-0">Khang trang, rộng rãi, thoải mái và thoáng mát.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>