<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>testimonial</title>
</head>
<body>
<div th:fragment="testimonial">
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Phàn hồi</h6>
                <h1>Khách hàng của chúng tôi nói gì</h1>
            </div>
            <div class="owl-carousel testimonial-carousel">
                <div class="text-center pb-4">
                    <img class="img-fluid mx-auto" src="img/testimonial-1.jpg" style="width: 100px; height: 100px;" >
                    <div class="testimonial-text bg-white p-4 mt-n5">
                        <p class="mt-5">Chất lượng dịch vụ tốt , giá cả phù hợp với túi tiền của tôi
                        </p>
                        <h5 class="text-truncate">The IronMan</h5>
                        <span></span>
                    </div>
                </div>
                <div class="text-center">
                    <img class="img-fluid mx-auto" src="img/testimonial-2.jpg" style="width: 100px; height: 100px;" >
                    <div class="testimonial-text bg-white p-4 mt-n5">
                        <p class="mt-5">tôi yêu Việt Nam. Việt Nam thật đẹp. Tôi sẽ quay lại trong tương lai.
                        </p>
                        <h5 class="text-truncate">The Superman</h5>
                        <span></span>
                    </div>
                </div>
                <div class="text-center">
                    <img class="img-fluid mx-auto" src="img/testimonial-3.jpg" style="width: 100px; height: 100px;" >
                    <div class="testimonial-text bg-white p-4 mt-n5">
                        <p class="mt-5"> Nơi đây thật đẹp và con người ở đây rất tôi.
                        </p>
                        <h5 class="text-truncate">The Batman</h5>
                        <span></span>
                    </div>
                </div>
                <div class="text-center">
                    <img class="img-fluid mx-auto" src="img/testimonial-4.jpg" style="width: 100px; height: 100px;" >
                    <div class="testimonial-text bg-white p-4 mt-n5">
                        <p class="mt-5">Thật là một chuyến đi rất có ý nghĩa, nó thôi thúc tôi muốn quay trở lại .
                        </p>
                        <h5 class="text-truncate">The Flash</h5>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>